<nav class="navbar bg-light sticky-top mb-4">
  <div class="container">
    <a href="<%= carts_path %>" class="cart-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
        <i class="cart-icon-qty" id="cart-qty"></i>
    </a>
    <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag("logo.png", alt: "Logo", class: "d-inline-block align-text-middle", width: "40", height: "40") %>
    Catstagram</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item">
            <%= link_to "Accueil", root_path, class: "nav-link #{is_active?(root_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Comment ça marche ?", how_it_works_path, class: "nav-link #{is_active?(how_it_works_path)}" %>
          </li>
          <li class="nav-item">
            <%# link_to "A propos", about_path, class: "nav-link #{is_active?(about_path)}" %>
          </li>
          <li class="nav-item">
            <%# link_to "Panier", cart_path, class: "nav-link #{is_active?(cart_path)}" %>
          </li>
          <li class="nav-item">
            <%# link_to "Contact", contact_path, class: "nav-link #{is_active?(contact_path)}" %>
          </li>
          <% if user_signed_in? %>
          
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mon compte
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to "Mon profil", profile_path(current_user), class: "dropdown-item #{is_active?(profile_path(current_user))}" %>
                    </li>
                    <li>
                        <%# link_to "Mes commandes", orders_path, class: "dropdown-item #{is_active?(orders_path)}" %>
                    </li>
                    <li>
                        <%= button_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item bg-danger text-light", method: :delete %>
                    </li>
                </ul>
            </li>

          <% else %>

            <li class="nav-item">
                <%= link_to "Connexion", new_user_session_path, class: "nav-link #{is_active?(new_user_session_path)}" %>
            </li>
            <li class="nav-item">
                <%= link_to "Inscription", new_user_registration_path, class: "nav-link #{is_active?(new_user_registration_path)}" %>
            </li>

          <% end %>

          <% if user_signed_in? && current_user.admin %>
            <li class="nav-item">
              <%= link_to "Dasboard", dashboard_index_path, class: "mt-3 btn btn-outline-info #{is_active?(dashboard_index_path)}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Ajouter une photo", new_item_path, class: "mt-3 btn btn-outline-info #{is_active?(new_item_path)}" %>
            </li>
          <% end %>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>