<% if user_signed_in? %>
    <%= form_for @join_table_item_cart do |f| %>
        <%= f.hidden_field :item_id, value: item.id %>
        <%= f.hidden_field :cart_id, value: current_user.cart.id %>
        <button type="submit" class="btn btn-success">Ajouter au panier</button>
    <% end %>

<h1>Modifier le produit</h1>

<%= form_with(model: @item, local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </p>

  <p>
    <%= form.label :tag %><br>
    <%= form.text_field :tag %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>