<div class="form-center">
  <h2 class="text-center">Ajouter une photo</h2>

  <%= form_with(model: @item, local: true) do |form| %>
    <%= render "devise/shared/error_messages", resource: @item %>

    <div class="form-group text-center">
      <%= form.label :name, class: "form-label mt-4" %><br />
      <%= form.text_field :name, class: "form-control col-4" %>
    </div>

    <div class="form-group text-center">
      <%= form.label :description, class: "form-label mt-4" %><br />
      <%= form.text_area :description, class: "form-control col-4" %>
    </div>

    <div class="form-group text-center">
      <%= form.label :price, class: "form-label mt-4" %><br />
      <%= form.text_field :price, class: "form-control col-4" %>
    </div>

    <div class="form-group text-center">
      <%= form.label :tag, class: "form-label mt-4" %><br />
      <%= form.text_field :tag, class: "form-control col-4" %>
    </div>

    <div class="form-group text-center">
      <%= form.label :image, class: "form-label mt-4 custom-file-upload" %><br />
      <%= form.file_field :image, class: "hidden", id: "file-upload" %>
      
    </div>

    <div class="actions mt-4 text-center">
      <%= form.submit "Create Item", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
