<div class="text-center">
  <br>
  <br>
  <h1>Ajouter une photo</h1>

  <%= form_with(model: @item, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :name, class: "form-label mt-4" %><br>
      <%= form.text_field :name, class: "form-control col-6" %>
    </div>

    <div class="form-group">
      <%= form.label :description, class: "form-label mt-4" %><br>
      <%= form.text_area :description, class: "form-control col-6" %>
    </div>

    <div class="form-group">
      <%= form.label :price, class: "form-label mt-4" %><br>
      <%= form.text_field :price, class: "form-control col-6" %>
    </div>

    <div class="form-group">
      <%= form.label :tag, class: "form-label mt-4" %><br>
      <%= form.text_field :tag, class: "form-control col-6" %>
    </div>

    <p>
      <%= form.label :image %><br>
      <%= form.file_field :image %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>

</div>